/* || GENERAL STYLING */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

#sectionHeading {
  font-family: "Noto Serif Hebrew", serif;
}
/* || GENERAL STYLING END */

/* DESKTOPS: 1025px — 1290px */
@media (min-width: 1020px) {
  /* || NAVBAR */
  .rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Logo */
  .logoContainer {
    display: flex;
    margin-left: 10px;
  }

  .logoContainer h1 {
    font-size: 20px;
    font-weight: 800;
    font-family: "Playfair Display", serif;
    color: black;
  }

  .logoItems {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  /* ... */

  /* Navbar */
  .navItemContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-right: 130px;
  }

  .navBarItems {
    list-style-type: none;
    display: flex;
    font-family: "Barlow", sans-serif;
  }

  .navItem {
    padding: 15px;
  }

  .navItem a {
    font-weight: 400;
  }
  /* ... */
  /* Cart */
  .cart {
    position: relative;
    text-align: right;
    margin-right: 25px;
  }

  .cart span {
    font-family: "Barlow", sans-serif;
    font-size: 10px;
    color: #fff;
    background-color: black;
    border-radius: 50%;
    height: 20px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
  }
  /* ... */
  /* || NAVBAR END */

  /* || HERO SECTION */
  .heroBanner {
    background-image: url(/images/homePage/backgrounds/greenCouch.png);
    height: 96vh;
    width: 100%;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  /* Hero banner text */
  .innerContainer {
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  hr {
    height: 4px;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #000;
    border-radius: 25px;
    border-color: #000;
  }

  .callToAction {
    color: #000;
    font-family: "Spectral", serif;
    font-size: 4em;
    font-weight: 700;
    margin: 10px;
  }
  /* ... */

  /* Explore button */
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .exploreBtn {
    width: 150px;
    height: 50px;
    border-style: solid;
  }

  .exploreBtn p {
    font-size: 30px;
    font-family: "Spectral", serif;
    font-weight: 600;
    margin-bottom: 3px;
  }
  /* ... */
  /* || HERO SECTION END */

  /* || CONTENT SECTION */

  /* Featured products section heading */
  .featuredHeading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
  }

  /* Featured products container */
  .featuredProducts {
    margin: 50px;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  /* Featured product cards */
  .featuredCard {
    display: grid;
    background-color: #fff;
    grid-template-rows: max-content 100px 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 100%;
    margin-top: 20px;
  }

  /* Featured product card inner containers that contain info */
  .featuredContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featuredContainer h2 {
    font-family: "Spectral", serif;
    margin-top: 10px;
  }

  .featuredCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* ... */

  /* New products section */

  /* New products section heading */
  .newProductsHeading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
  }

  /* New products container */
  .newProducts {
    margin: 50px;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  /* ... */

  /* New products cards */
  .newCard {
    display: grid;
    background-color: #fff;
    grid-template-rows: max-content 100px 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
  }

  .newCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* ... */

  .newContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newContainer h2 {
    font-family: "Spectral", serif;
  }

  .newContainer span {
    font-family: "Inter", sans-serif;
  }
  /* ... */
  /* || CONTENT SECTION END */
}

/* TABLETS */
@media (min-width: 768px) and (max-width: 1023px) {
  /* || NAVBAR */
  .rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Logo */
  .logoContainer {
    display: flex;
    margin-left: 10px;
  }

  .logoContainer h1 {
    font-size: 20px;
    font-weight: 800;
    font-family: "Playfair Display", serif;
    color: black;
  }

  .logoItems {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  /* ... */

  /* Navbar */
  .navItemContainer {
    display: flex;
    flex: 2;
    justify-content: center;
    margin-right: 90px;
  }

  .navBarItems {
    list-style-type: none;
    display: flex;
    font-family: "Barlow", sans-serif;
  }

  .navItem {
    padding: 15px;
  }

  .navItem a {
    font-weight: 400;
  }
  /* ... */

  /* Cart */
  .cart {
    position: relative;
    text-align: right;
    margin-right: 25px;
  }

  .cart span {
    font-family: "Barlow", sans-serif;
    font-size: 10px;
    color: #fff;
    background-color: black;
    border-radius: 50%;
    height: 20px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
  }
  /* ... */
  /* || NAVBAR END */

  /* || HERO SECTION */
  .heroBanner {
    background-image: url(/images/homePage/backgrounds/greenCouch.png);
    height: 96vh;
    width: 100%;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  /* Hero banner text */
  .innerContainer {
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  hr {
    height: 4px;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #000;
    border-radius: 25px;
    border-color: #000;
  }

  .callToAction {
    color: #000;
    font-family: "Spectral", serif;
    font-size: 5em;
    font-weight: 700;
    margin: 10px;
  }
  /* ... */
  /* Explore button */
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .exploreBtn {
    width: 150px;
    height: 50px;
    border-style: solid;
  }

  .exploreBtn p {
    font-size: 32px;
    font-family: "Spectral", serif;
    font-weight: 600;
    margin-bottom: 3px;
  }
  /* ... */
  /* || HERO SECTION END */

  /* || CONTENT SECTION */
  /* Featured products section */
  .featuredHeading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
  }

  /* Featured products container */
  .featuredProducts {
    margin: 50px;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  /* Featured product cards */
  .featuredSection {
    display: grid;
    background-color: #fff;
    grid-template-rows: max-content 100px 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 60%;
    width: 100%;
    margin-top: 20px;
  }

  /* Featured product card inner containers that contain info */
  .featuredContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featuredContainer h2 {
    font-family: "Spectral", serif;
    margin-top: 10px;
    font-size: 30px;
  }

  .featuredSection img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* ... */

  /* New products section */
  .newProductsHeading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
  }

  /* Featured products container */
  .featuredProducts {
    /* margin-left: 100px; */
    margin: 50px;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  /* Featured product cards */
  .featuredCard {
    display: grid;
    background-color: #fff;
    grid-template-rows: max-content 100px 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 100%;
    margin-top: 20px;
  }

  /* Featured product card inner containers that contain info */
  .featuredContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featuredContainer h2 {
    font-family: "Spectral", serif;
    margin-top: 10px;
  }

  .featuredCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* ... */

  /* New products section */

  /* New products section heading */
  .newProductsHeading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  /* New products container */
  .newProducts {
    margin: 50px;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  /* ... */

  /* New products cards */
  .newCard {
    display: grid;
    background-color: #fff;
    grid-template-rows: max-content 100px 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
  }

  .newCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* ... */

  .newContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newContainer h2 {
    font-family: "Spectral", serif;
  }

  .newContainer span {
    font-family: "Inter", sans-serif;
  }
  /* ... */
  /* || CONTENT SECTION END */
}

/* CELLPHONES */
@media (max-width: 767px) {
  /* || NAVBAR */
  .rowContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  /* Logo */
  .logoContainer {
    display: flex;
    margin-left: 10px;
  }

  .logoContainer h1 {
    font-size: 20px;
    font-weight: 800;
    font-family: "Playfair Display", serif;
    color: black;
  }

  .logoItems {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  /* ... */

  /* Navbar */
  .navBarItems {
    list-style-type: none;
    display: none;
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
  }

  .cart {
    display: none;
  }
  .mobileMenu {
    display: block;
    cursor: pointer;
    padding: 10px;
  }
  .mobileMenu span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
  }
  .navBarItems.active {
    display: block;
  }
  .navBarItems.active li {
    display: block;
    text-align: center;
  }
  /* ... */
  /* || NAVBAR END */

  /* || HERO SECTION */
  .heroBanner {
    background-image: url(/images/homePage/backgrounds/mobileHeroNewest.jpg);
    height: 100vh;
    width: 100%;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  /* Hero banner text */
  .innerContainer {
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 200px;
  }

  hr {
    height: 4px;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #000;
    border-radius: 25px;
    border-color: #000;
  }

  .callToAction {
    color: #000;
    font-family: "Spectral", serif;
    font-size: 3em;
    font-weight: 800;
  }
  /* ... */

  /* Explore button */
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .exploreBtn {
    width: 150px;
    height: 50px;
    border-style: solid;
  }

  .exploreBtn p {
    font-size: 30px;
    font-family: "Spectral", serif;
    font-weight: 600;
    margin-bottom: 3px;
  }
  /* ... */
  /* || HERO SECTION END */

  /* || CONTENT SECTION */
  /* Featured products section */
  .featuredHeading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
  }

  /* Featured products container */
  .featuredProducts {
    margin: 50px;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  /* Featured product cards */
  .featuredSection {
    display: grid;
    background-color: #fff;
    grid-template-rows: max-content 100px 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 100%;
    margin-top: 20px;
  }

  /* Featured product card inner containers that contain info */
  .featuredContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featuredContainer h2 {
    font-family: "Spectral", serif;
    margin-top: 10px;
  }

  .featuredSection img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* ... */

  /* New products section */
  .newProductsHeading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
  }
  /* ... */

  /* Featured products container */
  .featuredProducts {
    /* margin-left: 100px; */
    margin: 50px;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  /* Featured product cards */
  .featuredCard {
    display: grid;
    background-color: #fff;
    grid-template-rows: max-content 100px 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 100%;
    margin-top: 20px;
  }

  /* Featured product card inner containers that contain info */
  .featuredContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featuredContainer h2 {
    font-family: "Spectral", serif;
    margin-top: 10px;
  }

  .featuredCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* ... */

  /* New products section */

  /* New products section heading */
  .newProductsHeading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  /* New products container */
  .newProducts {
    margin: 50px;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  /* ... */

  /* New products cards */
  .newCard {
    display: grid;
    background-color: #fff;
    grid-template-rows: max-content 100px 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
  }

  .newCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* ... */

  .newContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newContainer h2 {
    font-family: "Spectral", serif;
  }

  .newContainer span {
    font-family: "Inter", sans-serif;
  }
  /* ... */
  /* || CONTENT SECTION END */
}
